{{! Nav bar }}
<nav class='navbar navbar-expand-lg navbar-light bg-light'>
  <div class='container-fluid'>
    <a class='navbar-brand' href='#'>+ New Post</a>
    <button
      class='navbar-toggler'
      type='button'
      data-bs-toggle='collapse'
      data-bs-target='#navbarNavAltMarkup'
      aria-controls='navbarNavAltMarkup'
      aria-expanded='false'
      aria-label='Toggle navigation'
    >
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarNavAltMarkup'>
      <div class='navbar-nav'>
        <a class='nav-link' href='#'>Home</a>
        <a class='nav-link' href='#'>logged in = {{loggedIn}}</a>
        <a class='nav-link' href='#'>Hello {{users}}</a>
        <a class='nav-link' href='#'>Dashboard</a>
        {{#if logged_in}}
          <a class='nav-link' href='#'>Log Out</a>
        {{else}}
          <a class='nav-link' href='#'>Log In</a>
        {{/if}}
      </div>
    </div>
  </div>
</nav>

{{! /Nav bar }}