<div class='m-3'>
  <form>
    <div class='mb-3'>
      <label for='title' class='form-label'>Title</label>
      <input type='text' class='form-control' id='title' />
    </div>
    <div class='mb-3'>
      <label for='content' class='form-label'>Content</label>
      <textarea class='form-control' id='content' rows='3'></textarea>
    </div>
    <input class='btn btn-primary' type='submit' value='Submit' id='post' />
  </form>
  <script src='./js/post.js'></script>
</div>